.header {
  height: 400px;
  width: 100%;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  background-color:#ab9c37;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
}
.name {
  color: #FFFFFF;
}