 /* All styling related to new tweet is here */

/* new-tweet container */
 .new-tweet {
  width: 100%;
 }
/* tweet textarea */
 #tweet-text{
  width: 100%;
  border-bottom: 5px solid black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background: transparent;
  display: flex;  
  margin-top: 30px;
  padding: 10px;
  color: black;
}
/* keep cursor focued in tweet text area */
#tweet-text:focus {
  outline:0;
}

/* button-counter container */
.button-counter {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}

.button-counter button{
  background-color: #4056A1;
  color: #FFFFFF;
  margin-top: 10px;
}

/* style tweet-container or the new tweets */

.tweet {
  border: 5px solid black;
  padding: 30px 20px;
  margin-bottom: 5px;
}
.post-days{
  display: flex;
  justify-content: space-between;
}

.tweet:hover {
  box-shadow: 10px 10px;
}

#flag:hover {
  color:blue;
}
#retweet:hover {
  color:blue;
}
#heart:hover {
  color:blue;
}

/* Avater container for tweets posted */
.avtar-name {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#image-style {
  display: flex;
  align-items: center;
}

/* error message */
.error-alert {
  color: red;
  padding: 10px;
  border: 3px red solid;
  margin: 1em;
  display: flex;
  justify-content: center;
}

.error-section {
  display: none;
}
