 
 .new-tweet {
  width: 100%

 }

 #tweet-text{
  width: 100%;
  border-bottom: 5px solid black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background: transparent;
  display: flex;  
}
#tweet-text:focus {
  outline:0;
}
  

.button-counter {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}

.button-counter button{
  background-color: #4056A1;
  color: #FFFFFF;
}

/* style tweet-container or the new tweets */

.tweet {
  border: 5px solid black;
  padding: 50px 20px;
  margin-bottom: 5px;
}
.post-days{
  display: flex;
  justify-content: space-between;
}
/* //hover over the box and icons

//tweet-container- mouse -highlight the box.
const $tweetContainer = $("tweet-container") */

.tweet-container:hover {
  box-shadow: 10px 10px;
}

#flag:hover {
  color:blue;
}
#retweet:hover {
  color:blue;
}
#heart:hover {
  color:blue;
}
.avtar-name {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
/* .image-style{
  display: flex;
 
} */

.user-avatar{
  margin-right: 0.5em;
}

.user-name{
  margin-top: 1em;
  padding-top: 5px;
}

/* error message */
.error-alert {
  color: red;
  padding: 10px;
  border: 3px red solid;
  margin: 1em;
  display: flex;
  justify-content: center;
}

.error-section {
  display: none;
}